@model BasketVM
 <div class="shopping__cart__inner">
        <div class="offsetmenu__close__btn">
            <a href="#"><i class="zmdi zmdi-close"></i></a>
        </div>
        <div class="shp__cart__wrap">
            @foreach (var item in Model.Products)
            {
                <div class="shp__single__product">
                    <div class="shp__pro__thumb">
                        <a href="#">
                            <img src="~/imgs/products/@item.ImageUrl " alt="product images">
                        </a>
                    </div>
                    <div class="shp__pro__details">
                        <h2><a href="product-details.html">@item.Name</a></h2>
                        <span class="quantity">@item.Count</span>
                        @if (item.Discount > 0)
                        {
                            <span class="shp__price">$@((100 - item.Discount) * item.SellPrice / 100)</span>
                        }
                        else
                        {
                            <span class="shp__price">$@item.SellPrice</span>

                        }

                    </div>
                    <div class="remove__btn">
                        <a href="#" title="Remove this item"><i class="zmdi zmdi-close"></i></a>
                    </div>
                </div>
            }

            <ul class="shoping__total">
                <li class="subtotal">Subtotal:</li>
                <li class="total__price">@Model.Subtotal</li>
            </ul>
            <ul class="shopping__btn">
                <li><a asp-action="Index" asp-controller="Basket">View Cart</a></li>
                <li class="shp__checkout"><a href="checkout.html">Checkout</a></li>
            </ul>
        </div>
 </div>
